#projects {
  padding: 2rem;
  text-align: center;
  font-family: "Poppins";
}

#projects h2 {
  color: #333;
  font-size: 3.5rem;
}

.faq-section {
  margin-top: 2rem;
}

.faq-section h3 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq-item {
  border-bottom: 1px solid #ddd;
}

.faq-question {
  background: #bac9ea;
  color: #000000; 
  border: none;
  padding: 1rem;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  background: #83a5ee;
  color: #000000;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0 1rem;
}

.faq-answer.active {
  max-height: 200px; 
  padding: 1rem;
}

@media (max-width: 600px) {
  .faq-question {
    font-size: 1rem;
  }

  .faq-answer {
    max-height: 150px;
    padding: 0 0.5rem;
  }
}
